body {
    background-color: #f4f4f4; /* Light gray background */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    background-image: url('D:/Sport-finder/sport-finder/src/Images/sports-logos.png'); /* URL of the image containing sports logos */
    background-size: cover; /* Cover the entire viewport */
    background-repeat: repeat; /* Repeat the background image */
    font-family: Arial, sans-serif; /* Optional: Set a fallback font */
  }
  
  form {
    width: 90%; /* Adjusted width */
    max-width: 400px;
    margin: 50px auto; /* Center the form */
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the form */
    background-color: #fff; /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  
  form div {
    margin-bottom: 20px; /* Equal margin for form elements */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"] {
    width: calc(100% - 22px); /* Adjusted width */
    padding: 10px;
    margin: 5px 0; /* Equal margin for input boxes */
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners for input boxes */
    transition: box-shadow 0.3s; /* Smooth transition */
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add shadow on focus */
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px; /* Rounded corners for button */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  